<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
    <title>GraphQL client</title>

    <script src="./js/loginService.js"></script>

</head>
<body>

    <div style="text-align: center; margin-top: 3%">
        <h3>Login</h3>
            <br>
            
            Username: <input type="text" id="username" size="15" value="admin"/>&nbsp;&nbsp;&nbsp;&nbsp;
            Password: <input type="password" id="password" size="8" value="password"/><br><br>
            <button onclick="login()">login</button>
    </div>	
        
</body>
</html>